{
  "parser": "babel-eslint",
  "extends": ["airbnb", "airbnb/hooks", "plugin:import/recommended"],
  "rules": {
    "react/jsx-fragments": "off",
    "react/prop-types": "off",
    "comma-dangle": "off",
    "import/prefer-default-export": "off",
    "implicit-arrow-linebreak": "off",
    "jsx-quotes": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
